@media (max-width:700px) {

    /* DUŻE OBIEKTY */
    #footer{
        display: none;
    }

    html{
        overflow: hidden;
    }

    #content {
        display: none;
    }

    #top {
        display: none;
    }

    #h1 {
        display: none;
    }

    #text1 {
        display: none;
    }

    #img {
        display: none;
    }

    #button {
        display: none;
    }

    #pythonText {
        display: none;
    }

    /* DUŻE OBIEKTY */

    a {
        color: black;
        text-decoration: none;
    }


    #contentSmall {
        background-repeat: repeat;
        height: 190vw;
        background-size: 130%;
        background-image: url(background_small.jpg);
        margin: auto;
    }

    #h1Small {
        padding: 3vw;
        background-color: rgba(255, 255, 255, 0.308);
        letter-spacing: 3px;
        text-align: center;
        font-size: 50px;
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-family: 'Amatic SC';



    }

    * {
        padding: 0px;
        margin: 0px;
    }

    #imgSmall {
        margin: 0 auto;
        padding: 17vw;
        margin-top: -10vw;
        
        
    }
    

    #text1Small {
        padding: 10px;
        margin-top: 100vw;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.308);
        font-weight: bold;
        font-size: 20px;
        color: white;
        text-align: center;
        width: 50vw;
        font-family: 'Amatic SC', cursive;
    }

    #pythonTextSmall {
        box-shadow: 1px,-3px,8px,black;

        background-color: rgba(246, 246, 246, 0.287);
        width: 50vw;
        margin: 0 auto;
        font-size: 10vw;
        padding: 10px;
        margin-top: 20px;
        font-family: 'Amatic SC', cursive;


    }


    img {
        
        box-shadow: 1px 3px 8px black;  
        margin: 0 auto;
        width: 65vw;
    }




}

@media (min-width:700px) {

    /*MAŁE OBIEKTY*/
    #contentSmall {
        display: none;

    }

    #h1Small {
        display: none;
    }

    /*MAŁE OBIEKTY*/

    #content {
        height: 800px;
        background-size: 100%;
        background-image: url(background.jpg);
        background-image: 50%;
        background-repeat: no-repeat;
        margin: auto;
    }

    * {
        margin: 0;
        padding: 0;
    }


    #top {
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 20px;
        float: center;
        width: 500px;
    }




    h1 {
        background-color: rgba(255, 255, 255, 0.26);
        letter-spacing: 3px;
        text-align: center;
        font-size: 90px;
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-family: 'Amatic SC';

    }



    #text1 {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.26);
        font-weight: bold;
        font-size: 30px;
        color: white;
        float: center;
        text-align: center;
        width: 400px;
        font-family: 'Amatic SC', cursive;
    }

    img {
        margin: 0 auto;
        margin-left: 10px;
        margin-top: -100px;
        box-shadow: 1px 3px 8px black;
    }

    #button {
        margin-top: -70px;
        padding: 10px;
        margin: 0 auto;
        width: 400px;
    }

    #pythonText {
        width: 200px;
        font-size: 40px;
        font-family: 'Amatic SC', cursive;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    #footer{
        margin-top: 3vw;
        width: 100%;
        background-color: rgba(255, 255, 0, 0.513);
        font-family: 'Amatic SC', cursive;
        font-size: 3vw;
        text-align: center;
    }



}